<a href="https://colab.research.google.com/github/AmanpreetKaur-123/TR-103-batch-2022-2026-/blob/main/Dictionary(1_7_2025).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATE 1.7.2025

# TOPIC : DICTIONARY

Python dictionary is a container of the unordered set of objects like lists. The objects are surrounded by curly braces { }. The items in a dictionary are a comma-separated list of key:value pairs where keys and values are Python data type. Each object or value accessed by key and keys are unique in the dictionary. As keys are used for indexing, they must be the immutable type (string, number, or tuple). You can create an empty dictionary using empty curly braces. values can be assigned and accessed using square brackets[].

dis = {'name' : 'red','age' : 10}

* print(dis) # will output all the key-value pair {'name' : 'red','age' : 10}
* print(dis['name'])# will output only value (red)
* print(list(dis.values()))# will output list of values in dic ['red' , 10]
* print(dis.keys())# will output only key values

**Rules for creating a dictionary**

1.   every key must be unique.
2.   it must be hasable
3.   there is no particular order for the keys

Creating a dictionary

1.   literal syntax


*   d = { }
*   d = { 'key' : 'value'}


2.   dict comprehension

*    d = {k,v [ ('key' , 'value')]}
3.   Modifying a dict


*   d['H.No'] = 42
*   it also possible to add list and dictionary as value


*   d['new_list'] = [1,2,3]
*   d['new_dict'] = {'nested_dict': 1}

BUILD IN METHODS:

*  Python dictionaries have several built-in functions, also known as methods, that allow you to interact with and manipulate dictionary data. Key functions include len(), dict(), update(), get(), setdefault(), keys(), values(), items(), pop(), popitem(), clear(), copy(), and fromkeys(). Additionally, built-in functions like all(), any(), min(), max(), sorted(), and sum() can be used with dictionaries to perform operations based on their keys or values.

1.   dictionary len() method
2.   dictionary get() method
3.   dictionary items() method
4.   dictionary keys() method
5.   dictionary values() method
6.   dictionary update() method
7.   dictionary pop() method
8.   dictioanry popitem() method
9.   dictionary sum() method
10.   dictionary clear() method
11.   dictionary max() method
12.   dictionary min() method
13.   dictionary sort() method

# **PRACTICSE QUESTION**

# **Basic Dictionary Operations:**

1. Create a dictionary named student with keys "name," "age," and "grade," and assign appropriate values.

In [1]:
student = {
    "name": "Aman",
    "age": 21,
    "grade": "A"
}

2. Print the value associated with the "age" key.

In [2]:
print("Age:", student["age"])

Age: 21

3. Update the "grade" to a new value.

In [3]:
student["grade"] = "A"

4. Add a new key-value pair for "subject" and its corresponding value.

In [4]:
student["subject"] = "Computer Science"
print(student)

{'name': 'Aman', 'age': 21, 'grade': 'A', 'subject': 'Computer Science'}

# **Dictionary Manipulation:**

1. Create two dictinary , dict1 and dict2, with atleast three key value pair each

In [5]:
dict1={'Name':'AMAN','branch':'CSE','Age': 21}
dict2={'Name':'JOT','branch':'CSE','Age': 22}
print(dict1)
print(list(dict1.values()))
print(dict1.keys())
print(dict2)
print(list(dict2.values()))
print(dict2.keys())

{'Name': 'AMAN', 'branch': 'CSE', 'Age': 21}
['AMAN', 'CSE', 21]
dict_keys(['Name', 'branch', 'Age'])
{'Name': 'JOT', 'branch': 'CSE', 'Age': 22}
['JOT', 'CSE', 22]
dict_keys(['Name', 'branch', 'Age'])

2. Merge these dictionaries into a new dictionary called merged_dict .

In [6]:
dict1={'Name':'AMAN','branch':'CSE','Age': 21}
dict2={'Name':'JOT','branch':'CSE','Age': 22, 'Rollno.':2215011}
merged_dict = {**dict1, **dict2}

print( merged_dict)

{'Name': 'JOT', 'branch': 'CSE', 'Age': 22, 'Rollno.': 2215011}

3. Remove a key from merged_dict

In [7]:
dict1={'Name':'AMAN','branch':'CSE','Age': 21}
dict2={'Name':'JOT','branch':'CSE','Age': 22, 'Rollno.':2215011}
del merged_dict["branch"]

print(merged_dict)

{'Name': 'JOT', 'Age': 22, 'Rollno.': 2215011}

4. Check if a specific key exists in dict1 .

In [8]:
dict1 = {'Name': 'AMAN', 'branch': 'CSE', 'Age': 21}

if 'Age' in dict1:
    print("exists")
else:
    print("not exist ")

exists

# **Iterating Through a Dictionary:**

1. Use a loop to print all keys in the student dictionary.

In [9]:
student = {
    "name": "Aman",
    "age": 20,
    "grade": "A",
    "subject": "Computer Science"
}
print("Keys:")
for key in student.keys():
    print(key)

Keys:
name
age
grade
subject

2. Use another loop to print all values in the student dictionary.

In [10]:
print("\nValues:")
for value in student.values():
    print(value)

Values:
Aman
20
A
Computer Science

3. Write a loop to print each key-value pair in the student dictionary

In [11]:
student = {
    "name": "Aman",
    "age": 20,
    "grade": "A",
    "subject": "Computer Science"
}

for key, value in student.items():
    print(f"{key}: {value}")

name: Aman
age: 20
grade: A
subject: Computer Science

# **Dictionary Comprehension:**

1. Create a dictionary comprehension to generate a dictionary of squares from 1 to 10.

In [12]:
squares = {x: x**2 for x in range(1, 11)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

2. Filter the above dictionary to include only even squares.

In [13]:
even_squares = {x: square for x, square in squares.items() if square % 2 == 0}
print(even_squares)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

# **Nested Dictionaries:**

1. Create a dictionary named school with multiple students (nested dictionaries).

In [14]:
school = {
    "student1": {
        "name": "Aman",
        "age": 16,
        "grade": "10th",
        "subjects": ["Math", "Science", "English"]
    },
    "student2": {
        "name": "Jaspreet",
        "age": 17,
        "grade": "11th",
        "subjects": ["Biology", "Chemistry", "Physics"]
    },
    "student3": {
        "name": "Simran",
        "age": 15,
        "grade": "9th",
        "subjects": ["History", "Geography", "Civics"]
    }
}

2. Access and print information about a specific student within the school dictionary.

In [15]:
student_id = "student2"
student_info = school[student_id]

print(f"Information for {student_id}:")
for key, value in student_info.items():
    print(f"{key.capitalize()}: {value}")

Information for student2:
Name: Jaspreet
Age: 17
Grade: 11th
Subjects: ['Biology', 'Chemistry', 'Physics']

# **Dictionary Functions:**

1. Use the len() function to find the number of items in a dictionary.

In [16]:
student = {
    "name": "Aman",
    "age": 16,
    "grade": "10th",
    "subjects": ["Math", "Science", "English"]
}

print(len(student))

4

2. Use the keys() , values() , and items() methods on a dictionary and print the results.

In [17]:
print("Keys:", student.keys())
print("Values:", student.values())
print("Items:", student.items())

Keys: dict_keys(['name', 'age', 'grade', 'subjects'])
Values: dict_values(['Aman', 16, '10th', ['Math', 'Science', 'English']])
Items: dict_items([('name', 'Aman'), ('age', 16), ('grade', '10th'), ('subjects', ['Math', 'Science', 'English'])])

# **Sorting a Dictionary:**

1. Create a dictionary with unsorted keys.

In [18]:
student_info = {
    "grade": "10th",
    "name": "Aman",
    "subjects": ["Math", "Science", "English"],
    "age": 16
}
print(student_info.keys())

dict_keys(['grade', 'name', 'subjects', 'age'])

2. Use the sorted() function to print the keys in alphabetical order

In [19]:
sorted_keys = sorted(student_info.keys())
print(sorted_keys)

['age', 'grade', 'name', 'subjects']

# **Dictionary Methods:**

1. Use the get() method to retrieve a value with a default if the key doesn't exist.

In [20]:
student = {
    "name": "Aman",
    "age": 16,
    "grade": "10th"
}

subjects = student.get("subjects", "No subjects listed")
print(subjects)

No subjects listed

2. Use the pop() method to remove and return a specific key-value pair.

In [21]:
removed_value = student.pop("age")
print(removed_value)

print(student)

16
{'name': 'Aman', 'grade': '10th'}